<launch>
        <arg name="robot_name" default="robot" />
        <param name="robot_description" textfile="$(find robot_description)/$(arg robot_name)/urdf/test.urdf" />
        <param name="use_gui" value="true"/>
        <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-z 0.055 -param robot_description -urdf -model dog_description " 
        output="screen" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" />
        <node name="rviz" pkg="rviz" type="rviz" />
</launch>


